<div class="ui container">
<sm-menu title="Autonomous Drinks Refill" class="inverted blue">
    <sm-item class="menu left"><h3>Connected peers: {{connectedPeers}}</h3></sm-item>
    <sm-item class="menu right"><h3>Howdy  {{username}} | Balance:  {{balance}}ETH</h3></sm-item>
  <sm-item style="margin-left: 0px!important;" class="menu right"><h3><sm-button (click)="logout()">Logout</sm-button></h3></sm-item>
</sm-menu>



<accounts-component [isAdminAccount]='isAdmin' ></accounts-component>
<vendingmachine-component [isAdminVending]='isAdmin' (updateBalance)="onUpdateBalance($event)"></vendingmachine-component>
  <div class="footer"><h4>Copyright © Kevin Leyssens & Jeroen De Prest made possible by Ordina & Karel de Grote College</h4></div>
</div>

