<div class="ui container">
<sm-menu class="inverted blue">
    <sm-item class="menu left" style="margin-right: 0px!important;"><h4>Connected peers: {{connectedPeers}}</h4></sm-item>
  <sm-item class="menu left" style="margin-right: 0px!important;"><h4>WalletID: {{walletID}}</h4></sm-item>
    <sm-item style="margin-left: 0px!important;" class="menu left"><h4>Howdy  {{username}} | Balance:  {{balance}}ETH</h4></sm-item>
  <sm-item style="margin-left: 0px!important;" class="menu right"><h4><sm-button (click)="logout()">Logout</sm-button></h4></sm-item>
</sm-menu>



<accounts-component [isAdminAccount]='isAdmin' ></accounts-component>
  <contract-component [isAdminContract]='isAdmin'></contract-component>
<vendingmachine-component [isAdminVending]='isAdmin' (updateBalance)="onUpdateBalance($event)"></vendingmachine-component>
  <div class="footer"><h4>Copyright © Kevin Leyssens & Jeroen De Prest made possible by Ordina & Karel de Grote College</h4></div>
</div>

